In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
filename = "FallDataExport3"

In [43]:
df = pd.read_csv('../DataFile/' + filename + '.csv')
df = df.drop(['gyroX','gyroY','gyroZ', 'id'], axis=1) # drop columns with NaN values and gibberish
df.head()

   Unnamed: 0  accX  accY  accZ                timestamp      Norm  label
0           0  0.05   0.7 -0.72  2024-03-22 14:50:49.022  1.005435    NaN
1           1  0.05   0.7 -0.72  2024-03-22 14:50:49.055  1.005435    NaN
2           2  0.05   0.7 -0.72  2024-03-22 14:50:49.056  1.005435    NaN
3           3  0.05   0.7 -0.72  2024-03-22 14:50:49.057  1.005435    NaN
4           4  0.05   0.7 -0.72  2024-03-22 14:50:49.101  1.005435    NaN

In [44]:
# Sort timestamps in order and create index
if 'level_0' in df.columns:
    df.drop(columns=['level_0'], inplace=True) # drop columns with NaN values and gibberish
if 'Unnamed: 0' in df.columns:
    df.drop(columns=['Unnamed: 0'], inplace=True) # drop columns with NaN values and gibberish
if 'Unnamed: 0.1' in df.columns:
    df.drop(columns=['Unnamed: 0.1'], inplace=True) # drop columns with NaN values and gibberish
if not 'Norm' in df.columns:
    df['Norm'] = np.sqrt(df['accX']**2+df['accY']**2+df['accZ']**2)
    df = df.sort_values(by=['timestamp'])
df = df.reset_index()
df = df.reset_index()
df.head()
if 'index' in df.columns:
    df.drop(columns=['index'], inplace=True) # drop columns with NaN values and gibberish
display(df)

        level_0  accX  accY  accZ                timestamp      Norm  label
0             0  0.05  0.70 -0.72  2024-03-22 14:50:49.022  1.005435    NaN
1             1  0.05  0.70 -0.72  2024-03-22 14:50:49.055  1.005435    NaN
2             2  0.05  0.70 -0.72  2024-03-22 14:50:49.056  1.005435    NaN
3             3  0.05  0.70 -0.72  2024-03-22 14:50:49.057  1.005435    NaN
4             4  0.05  0.70 -0.72  2024-03-22 14:50:49.101  1.005435    NaN
...         ...   ...   ...   ...                      ...       ...    ...
191778   191778 -0.96  0.14 -0.17  2024-03-22 16:06:06.910  0.984937    NaN
191779   191779 -0.92  0.06 -0.30  2024-03-22 16:06:06.946  0.969536    NaN
191780   191780 -0.81  0.12 -0.17  2024-03-22 16:06:06.950  0.836301    NaN
191781   191781 -0.79  0.10 -0.14  2024-03-22 16:06:06.954  0.808517    NaN
191782   191782 -0.75 -0.00 -0.12  2024-03-22 16:06:06.991  0.759539    NaN

[191783 rows x 7 columns]

In [45]:
# plt.plot(df['timestamp'], df['Norm'])

In [46]:
df.tail()

        level_0  accX  accY  accZ                timestamp      Norm  label
191778   191778 -0.96  0.14 -0.17  2024-03-22 16:06:06.910  0.984937    NaN
191779   191779 -0.92  0.06 -0.30  2024-03-22 16:06:06.946  0.969536    NaN
191780   191780 -0.81  0.12 -0.17  2024-03-22 16:06:06.950  0.836301    NaN
191781   191781 -0.79  0.10 -0.14  2024-03-22 16:06:06.954  0.808517    NaN
191782   191782 -0.75 -0.00 -0.12  2024-03-22 16:06:06.991  0.759539    NaN

In [47]:
# Custom plot, for cleaning and processing

# Recorded timestamps

# 155256	155257
# 155330	155331
# 155355	155356
# 155455	155458
# 155459	155500
# 155520	155521
# 155605	155606
# 155655	155657
# 155646	155647
# 155659	155700

# Inspect 3 events arounrd this timing 
# 
# 155355	155356
# 155455	155458
# 155459	155500

# Inspect 4 events arounrd this timing 
# 
# 155605	155606
# 155655	155657
# 155646	155647
# 155659	155700

# 4,5

ts = [
'15:29:30',	'15:29:32',
'15:32:35',	'15:32:36',
'15:32:50',	'15:32:51', 
'15:33:10',	'15:33:11',
'15:33:25',	'15:33:26',
'15:33:40',	'15:33:41',
'15:33:55',	'15:33:56',
'15:34:10',	'15:34:11',
'15:34:26',	'15:34:27',
'15:34:39',	'15:34:40',
'15:35:00', '15:35:01',

'15:40:16', '15:40:17',
'15:40:33', '15:40:34',
'15:40:50', '15:40:51',
'15:41:00', '15:41:01',
'15:41:35', '15:41:36',
'15:42:05', '15:42:06',
'15:42:16', '15:42:17',
'15:42:30', '15:42:31',
'15:42:45', '15:42:46',
'15:52:35', '15:52:37'
]

# Search for timestamps within df
ts_ls = []
for t in ts:
    print(t)
    halp = df[df['timestamp'].str.contains(t)]
    print(halp['level_0'].iloc[0])
    ts_ls.append(halp['level_0'].iloc[0])
print(ts_ls)

15:29:30
71826
15:29:32
71946
15:32:35
83224
15:32:36
83291
15:32:50
84201
15:32:51
84261
15:33:10
85485
15:33:11
85548
15:33:25
86431
15:33:26
86495
15:33:40
87380
15:33:41
87443
15:33:55
88343
15:33:56
88407
15:34:10
89285
15:34:11
89349
15:34:26
90305
15:34:27
90367
15:34:39
91118
15:34:40
91185
15:35:00
92458
15:35:01
92520
15:40:16
94984
15:40:17
95049
15:40:33
96092
15:40:34
96154
15:40:50
97170
15:40:51
97235
15:41:00
97814
15:41:01
97878
15:41:35
100069
15:41:36
100136
15:42:05
101949
15:42:06
102016
15:42:16
102665
15:42:17
102730
15:42:30
103576
15:42:31
103641
15:42:45
104535
15:42:46
104597
15:52:35
142682
15:52:37
142816
[71826, 71946, 83224, 83291, 84201, 84261, 85485, 85548, 86431, 86495, 87380, 87443, 88343, 88407, 89285, 89349, 90305, 90367, 91118, 91185, 92458, 92520, 94984, 95049, 96092, 96154, 97170, 97235, 97814, 97878, 100069, 100136, 101949, 102016, 102665, 102730, 103576, 103641, 104535, 104597, 142682, 142816]

In [48]:
import os

os.chdir("../DataFile/")
print(os.getcwd())

# Labelling of data
df['label'] = 0
for i in range(0,len(ts_ls),2):
    df['label'][ts_ls[i]:ts_ls[i+1]+1].replace(0,1, inplace=True)

count = 0
for path in os.scandir(os.getcwd()):
    if path.is_file() and path.name.endswith('.csv'):
        if 'cleaned_exported_data' in path.name:
            count+=1
count+=1
newPath = '../DataFile/cleaned_exported_data' + str(count) + '.csv'
df.to_csv(newPath)

d:\[02] PC Files\[01] Project Files\[03] Github\Personal-Alarm-Device\MLFallingDetection\DataFile

C:\Users\sweea\AppData\Local\Temp\ipykernel_4052\4234719813.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['label'][ts_ls[i]:ts_ls[i+1]+1].replace(0,1, inplace=True)