In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [62]:
filename = "cleaned_exported_data1"

In [63]:
df = pd.read_csv('../DataFile/' + filename + '.csv')
if 'level_0' in df.columns:
    df.drop(columns=['level_0'], inplace=True) # drop columns with NaN values and gibberish
if 'Unnamed: 0' in df.columns:
    df.drop(columns=['Unnamed: 0'], inplace=True) # drop columns with NaN values and gibberish
if 'Unnamed: 0.1' in df.columns:
    df.drop(columns=['Unnamed: 0.1'], inplace=True) # drop columns with NaN values and gibberish
df = df.reset_index()
display(df)

         index  accX  accY  accZ                timestamp      Norm  label
0            0  0.05  0.70 -0.72  2024-03-22 14:50:49.022  1.005435      0
1            1  0.05  0.70 -0.72  2024-03-22 14:50:49.055  1.005435      0
2            2  0.05  0.70 -0.72  2024-03-22 14:50:49.056  1.005435      0
3            3  0.05  0.70 -0.72  2024-03-22 14:50:49.057  1.005435      0
4            4  0.05  0.70 -0.72  2024-03-22 14:50:49.101  1.005435      0
...        ...   ...   ...   ...                      ...       ...    ...
191778  191778 -0.96  0.14 -0.17  2024-03-22 16:06:06.910  0.984937      0
191779  191779 -0.92  0.06 -0.30  2024-03-22 16:06:06.946  0.969536      0
191780  191780 -0.81  0.12 -0.17  2024-03-22 16:06:06.950  0.836301      0
191781  191781 -0.79  0.10 -0.14  2024-03-22 16:06:06.954  0.808517      0
191782  191782 -0.75 -0.00 -0.12  2024-03-22 16:06:06.991  0.759539      0

[191783 rows x 7 columns]

In [64]:
df = df.drop(df.index[142820:df.index[-1]+1])
display(df)

         index  accX  accY  accZ                timestamp      Norm  label
0            0  0.05  0.70 -0.72  2024-03-22 14:50:49.022  1.005435      0
1            1  0.05  0.70 -0.72  2024-03-22 14:50:49.055  1.005435      0
2            2  0.05  0.70 -0.72  2024-03-22 14:50:49.056  1.005435      0
3            3  0.05  0.70 -0.72  2024-03-22 14:50:49.057  1.005435      0
4            4  0.05  0.70 -0.72  2024-03-22 14:50:49.101  1.005435      0
...        ...   ...   ...   ...                      ...       ...    ...
142815  142815 -1.23  0.26 -0.08  2024-03-22 15:52:36.992  1.259722      1
142816  142816 -1.10  0.01  0.21  2024-03-22 15:52:37.032  1.119911      1
142817  142817 -1.01  0.08  0.28  2024-03-22 15:52:37.035  1.051142      0
142818  142818 -0.97 -0.09  0.35  2024-03-22 15:52:37.038  1.035133      0
142819  142819 -0.95  0.09  0.33  2024-03-22 15:52:37.076  1.009703      0

[142820 rows x 7 columns]

In [65]:
import os

os.chdir("../DataFile/")
print(os.getcwd())

count = 0
for path in os.scandir(os.getcwd()):
    if path.is_file() and path.name.endswith('.csv'):
        if 'cleaned_exported_data' in path.name:
            count+=1
count+=1
newPath = '../DataFile/cleaned_exported_data' + str(count) + '.csv'
df.to_csv(newPath)

d:\[02] PC Files\[01] Project Files\[03] Github\Personal-Alarm-Device\MLFallingDetection\DataFile